@tailwind base;
@tailwind components;
@tailwind utilities;


.propsearch {
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3) ;
}

.propsearch select {
  background-color: #f9f9ff;
  padding: 10px;
  border: 1px solid #eeeeee;
  font-size: 14px;
}

.cusShadow {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1)
}

.propertyCard {
  min-height: 470px;
  cursor: pointer;
}

